configs:
  cm:
    create: true
    application.resourceTrackingMethod: "annotation+label"
    kustomize.buildOptions: "--enable-helm"
  

  params:
    server.insecure: true

crds:
  install: true
  # Keep CRDs on chart uninstall
  keep: false

controller:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 256Mi

dex:
  resources:
    requests:
      cpu: 20m
      memory: 32Mi
    limits:
      cpu: 200m
      memory: 64Mi

redis:
  resources:
    requests:
      cpu: 50m
      memory: 32Mi
    limits:
      cpu: 200m
      memory: 64Mi

server:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 128Mi

repoServer:
  containerSecurityContext:
    readOnlyRootFilesystem: true
  

  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  

applicationSet:
  resources:
    requests:
      cpu: 50m
      memory: 32Mi
    limits:
      cpu: 200m
      memory: 128Mi

notifications:
  enabled: false
  resources:
    requests:
      cpu: 20m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 64Mi
