tunnel: k3s-cluster
credentials-file: /etc/cloudflared/creds/credentials.json
metrics: 0.0.0.0:2000
no-autoupdate: true
loglevel: info
transport-loglevel: info

ingress:
  - hostname: "*.basilaslam.com"
    service: https://cilium-gateway-gateway-internal.gateway.svc.cluster.local:443
    originRequest:
      noTLSVerify: true
      logHeaders: true
      headers:
        - name: CF-Connecting-IP
        - name: X-Real-IP
        - name: CF-IPCountry
        - name: CF-Ray
        - name: CF-Visitor
        - name: CF-Device-Type
        - name: X-Forwarded-For
        - name: True-Client-IP
  - service: http_status:404
