apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: cloudflared
  namespace: cloudflared
  annotations:
    argocd.argoproj.io/sync-wave: "-1"

resources:
  - ns.yaml
  - deployment.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: cloudflared-config
    files:
      - config.yaml
    options:
      annotations:
        argocd.argoproj.io/sync-wave: "-2"
